[Tunnel Client Settings]
host = umb.kaangoksal.com
port = 9000
username = raspi-1
password = pass-1

[SSH Task Settings]
key_location = /home/pi/.ssh/ssh_server_key
server_addr = umb.kaangoksal.com
server_username = ssh_server
ssh_local_port = 22
ssh_remote_port = 7002
